<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title><ui:insert name="titulo">Agendamento de Consultas</ui:insert>
	</title>
	<h:outputStylesheet library="css" name="estilo.css" />
	<h:outputScript library="js" name="locale.js" />
</h:head>
<h:body>
	<header> </header>

	<h:form id="menu">
		<p:menubar>
			<p:menuitem value="Home" action="/Home?faces-redirect=true"/>
			
			<p:submenu label="Consultas">
				<p:menuitem value="Pacientes"
					action="/ConsultaPacientes?faces-redirect=true" />
				<p:menuitem value="Médicos"
					action="/ConsultaMedicos?faces-redirect=true" />
				<p:menuitem value="Consultas"
					action="/ConsultaConsultas?faces-redirect=true" />
			</p:submenu>
			
			<p:submenu label="Cadastros">
				<p:menuitem value="Pacientes"
					action="/CadastroPacientes?faces-redirect=true" />
				<p:menuitem value="Médicos"
					action="/CadastroMedicos?faces-redirect=true" />
				<p:menuitem value="Consultas"
					action="/CadastroConsultas?faces-redirect=true" />
			</p:submenu>

			<p:menuitem value="Sair" action="/Home?faces-redirect=true"/>

		</p:menubar>
	</h:form>

	<div id="conteudo">
		<ui:insert name="corpo" />
	</div>

	<footer>
		<br /> Sistema de Agendamento de Consulta 
	</footer>

</h:body>

</html>