@charset "UTF-8";

body {	
	margin: 0px auto;	
	width: 90%;	
}

header {
	padding: 5px;
	margin-bottom: 20px;
	height: 70px;
	background-color: #a8c1e2;
	color: #fff;	
}

#conteudo {
	padding: 0px 8px
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;	
	color: #555753;
}

#menu{
	margin-top: -20px; 
	margin-bottom: 20px;
}

footer {
	border-top: 1px solid #ccc;
	padding: 5px 8px;
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
}

h1 {
	font-size: 24px;
	font-weight: 500;
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px
}

#panelGridCenter {
	align: 0 auto;
}