<!DOCTYPE html>
<ui:composition template="/WEB-INF/template/Layout.xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<h:head>
		<title>Consulta Agendamentos</title>
	</h:head>

	<f:metadata>
		<f:viewAction action="#{consultasBean.consultar}" />
	</f:metadata>

	<ui:define name="corpo">
		<h2>Consulta Agendamentos</h2>

		<h:form>
			<p:messages showDetail="false" showSummary="true" />
			<p:dataTable value="#{consultasBean.consultas}" var="consulta"
				border="2" paginator="true" rows="6" paginatorPosition="bottom">

				<p:column headerText="#" width="3%" style="text-align: center">
					<h:outputText value="#{consulta.id}" />
				</p:column>

				<p:column headerText="Data Consulta"
					sortBy="#{consulta.dataConsulta}" style="text-align: center"
					width="12%">
					<h:outputText value="#{consulta.dataConsulta}">
						<f:convertDateTime pattern="dd/MM/yy" timeZone="America/Sao_Paulo" />
					</h:outputText>
				</p:column>

				<p:column headerText="Paciente" sortBy="#{consulta.paciente.nome}">
					<h:outputText value="#{consulta.paciente.nome}" />
				</p:column>

				<p:column headerText="Médico" sortBy="#{consulta.medico.nome}"
					style="text-align: center">
					<h:outputText value="#{consulta.medico.nome}" />
				</p:column>

				<p:column headerText="Motivo Consulta" width="15%"
					style="text-align: center">
					<h:outputText value="#{consulta.tipoConsulta.descricao}" />
				</p:column>

				<p:column headerText="Ações" width="10%" style="text-align: center">
					<p:button title="Editar" outcome="/CadastroConsultas"
						icon="ui-icon-pencil">
						<f:param name="id" value="#{consulta.id}" />
					</p:button>

					<p:commandButton title="Remover" icon="ui-icon-trash"
						action="#{consultasBean.excluir}" update="@form">
						<f:setPropertyActionListener value="#{consulta}"
							target="#{consultasBean.consultaSelecionada}" />
					</p:commandButton>
				</p:column>

			</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>